body {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: azure;
}
h1 {
  font-weight: 900;
}
h2 {
  font-weight: 700;
}

p {
  font-weight: 500;
}

.title {
  background-color: aqua;
}
